#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  background-color: hsla(0, 0%, 50%, 0.625);
}
.ProseMirror {
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  height: 100%;
  width: 100%;
  flex: 1;
  overflow-y: auto;
}
.ProseMirror:focus {
  outline: none;
}
.app-nav {
  margin-bottom: 1rem;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
  background-color: hsla(0, 0%, 50%, 0.625);
  padding: 0.5rem 1rem;
  border-radius: 5px;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.editor-container {
  border: 2px solid #ccc;
  border-radius: 5px;
  height: calc(100vh - 60px);
  overflow-y: auto;
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin: 60px auto 20px;
}
.editor-body {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
}
